body {
	margin: 0;

    main {
        overflow: hidden;
    }

	#bookmark-list {
		display: flex;
		flex-direction: row wrap;
		gap: 16px;

        padding: 8px;
        width: fit-content;

		.bookmark-btn {
			padding: 0;
		}
	}
}
