html, body {
    margin: 0;
    padding: 0;

    border: none !important;
    border-radius: 1rem !important;
}

main {
    background-color: #1e1e2d;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    width: 800px;
}

#bookmark-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 16px;
    padding: 8px;
    max-width: 100%; 
    overflow-y: auto;
}

.bookmark-btn {
    padding: 0;
}